@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dgreen: #b4cdb4;
  --darkgreen: #557355;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.darkgreen {
  color: var(--darkgreen);
}
  

.dgreen {
  color: var(--dgreen);
}

